
/*header*/

header{
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: #000;
    position: relative;
    z-index: 10;
}
.container{
    width: 100%;
    min-width: 320px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
    z-index: 1;
}
header .wrapper{
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
header .logo{
    flex: 1;
}
.logo img{
    width: 60px;
}
header .nav-bar{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}
.nav-bar nav{
    display: flex;
    font-family: 'Montserrat';
    font-weight: 600;
}
.nav-bar img{
    cursor: pointer;
}
.nav-bar ul{
    position: absolute;
    right: 0;
    top: 100px;
    color: white;
    width: 60%;
    height: calc(100vh - 100px);
    background-color: rgba(0, 0, 0, 0.8);
}
.nav-bar li{
    margin: 20px 50px;
}
.nav-bar a:hover{
    color: #b98b57;
}

/*Banner/Home*/

#home{
    min-height: calc(100vh - 100px);
    background-image: url(../assets/images/bg.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#home::before{
    content: "";
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}
.slider{
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
}
.slider-track{
    display: flex;
}
.slide{
    min-width: 100%;
    min-height: calc(100vh - 100px);
    scroll-snap-align: start;
}
.card{
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
}
.card strong{
    color: #b68b58;
}
.card p{
    font-family: 'Montserrat';
    font-weight: 600;
}
.card a{
    font-size: 13px;
    font-family: 'Montserrat';
    font-weight: 400;
    padding: 10px 55px;
    border-radius: 20px;
    background-color: #b08453;
    margin-top: 40px;
}
.card .pointer{
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.card .point{
    width: 15px;
    height: 15px;
    border: 2px solid #b98b59;
    border-radius: 10px;
    cursor: pointer;
}
.card .point:hover{
    background-color: #b98b59;
}
.card .active{
    background-color: #b98b59;
}

/*About us*/

.widget{
    font-family: 'Montserrat';
    font-weight: 400;
}
.widget-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
}
.widget-header .title{
    color: #000;
    font-weight: 700;
    font-size: 2rem;
}
.widget-header .subtitle{
    color: #adadad;
    font-weight: 600;
    font-size: 1rem;
}
#about-us .layout{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.content{
    margin-top: 30px;
    text-align: center;
    flex-wrap: wrap;
}
.content .text{
    color: #242424;
    font-size: 1rem;
}
.btn{
    display: inline-block;
    padding: 10px 55px;
    background-color: #b98b59;
    border-radius: 20px;
    color: #fff;
    font-size: 13px;
    margin-top: 2rem;
}
.layout .media{
    display: flex;
    justify-content: center;
    align-items: center;
}
.media img{
    width: 100%;
    min-width: 150px;
    max-width: 500px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.8);
}

/*Services*/

#services{
    min-height: calc(100vh - 100px);
    background-color: #000;
}
#services .title{
    color: #fff;
}
#services .layout{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin-top: 40px;
    padding-bottom: 40px;
}
#services .card h3{
    font-family: 'Montserrat';
    font-weight: 700;
}
#services .card p{
    font-size: 13px;
    color: #797979;
    font-family: 'Montserrat';
    font-weight: 400;
}
#our-projects{
    min-height: calc(100vw - 100px);
    margin-bottom: 30px;
}
#our-projects .wrapper{
    width: 100%;
    font-family: 'Montserrat';
    font-weight: 400;
    margin-bottom: 20px;
}
#our-projects .wrapper ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
    background-color: #ededed;
    border-radius: 20px;
    border: 1px solid #cfcfcf;
}
#our-projects .wrapper li{
    padding: 10px;
    font-size: 15px;
    padding: 10px;
    color: #000000;
    border-right: 1px solid #cfcfcf;
}
#our-projects .wrapper li:last-child{
    border: none;
}
#our-projects .wrapper a{
    border-bottom: 3px solid transparent;
    padding-bottom: 8px;
}
#our-projects .wrapper a:hover{
    border-bottom: 3px solid #b98b59;
}
#our-projects .wrapper .active{
    border-bottom: 3px solid #b98b59;
}
#our-projects .layout{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
#our-projects .layout image:nth-child(n + 7){
    display: none;
}
#our-projects .layout .image img{
    width: 100%;
    display: block;
    z-index: 1;
}
#our-projects .layout .image{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
#our-projects .layout .image h3{
    position: absolute;
    top: 20%;
    z-index: 3;
    color: #fff;
    display: none;
}
#our-projects .layout .image p{
    position: absolute;
    top: 40%;
    z-index: 3;
    color: white;
    text-align: center;
    display: none;
}
#our-projects .layout .image:hover h3 {
    display: flex;
}
#our-projects .layout .image:hover p {
    display: flex;
}

#our-projects .layout .image::before{
    content: "";
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}
#our-projects .layout .image:hover::before{
    opacity: 1;
}
#our-projects .center-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
#our-projects .btn{
    margin-top: 0px;
}

/* our team */

#our-team{
    background-image: url(../assets/images/bg-slide2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
#our-team::before{
    content: "";
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 1;
}
#our-team .card{
    background-color: #fff;
    color: #000;
    height: 65%;
    width: 100%;
    min-width: 300px;
    max-width: 400px;
}
#our-team .widget-header h2{
    color: #fff;
}
#our-team .widget-header p{
    color: #aeaeae;
}
#our-team .layout{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#our-team .title{
    font-weight: 600;
    color: #000;
    margin-top: 3rem;
}
#our-team .subtitle{
    font-weight: 400;
    color: #242424;
}
#our-team .redes-sociais{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 5px;
}
.redes-sociais img{
    width: clamp(2.8rem, 2.7vw, 5rem);
    padding: 8px 6px;
    border-radius: 50%;
    background-color: #bebebe;
}
#our-team .pointer{
    position: absolute;
    bottom: 30px;
}

/*Happy Clients*/

#clients{
    background-color: #f7f7f7;
}