header{
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: #000;
}
.container{
    width: 100%;
    min-width: 360px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 16px;
}
header .wrapper{
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
header .logo{
    flex: 1;
}
.logo img{
    width: 80px;
}
header .nav-bar{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}
.nav-bar nav{
    display: none;
}