/*header*/

header {
    height: clamp(80px, 10vw, 100px);
    display: flex;
    justify-content: center;
    background-color: #000;
    position: relative;
    z-index: 10;
}

.container {
    width: 100%;
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
    z-index: 1;
    height: 100%;
}

header .wrapper {
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header .logo {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
}

header .logo img {
    max-height: 80%;
    width: auto;
}

header .nav-bar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
}

.nav-bar nav {
    display: flex;
    font-family: 'Montserrat';
    font-weight: 600;
}

.nav-bar img {
    height: 35%;
    width: auto;

}

.nav-bar ul {
    position: absolute;
    right: 0;
    top: clamp(80px, 10vw, 100px);
    color: white;
    width: 60%;
    height: calc(100dvh - 100px);
    background-color: rgba(0, 0, 0, 0.8);
}

.nav-bar li {
    margin: 20px 50px;
}

.nav-bar a:hover {
    color: #b98b57;
}

/*Banner/Home*/

#home {
    min-height: calc(100dvh - 100px);
    background-image: url(../assets/images/bg.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#home::before {
    content: "";
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}

.slider {
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
}

.slider-track {
    display: flex;
}

.slide {
    min-width: 100%;
    min-height: calc(100dvh - 100px);
    scroll-snap-align: start;
}

.card {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
}

h1 {
    font-size: clamp(2rem, 5vw, 3.2rem);
}

.card-home {
    color: white;
}

.card strong {
    color: #b68b58;
}

.card p {
    font-family: 'Montserrat';
    font-weight: 600;
}

.card a {
    font-size: 13px;
    font-family: 'Montserrat';
    font-weight: 400;
    padding: 10px 55px;
    border-radius: 20px;
    background-color: #b08453;
    margin-top: 40px;
}

.card .pointer {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.card .point {
    width: clamp(15px, 1.3vw, 18px);
    height: clamp(15px, 1.3vw, 18px);
    border: 2px solid #b98b59;
    border-radius: 10px;
    cursor: pointer;
}

.card .point:hover {
    background-color: #b98b59;
}

.card .active {
    background-color: #b98b59;
}

/*About us*/

.widget {
    font-family: 'Montserrat';
    font-weight: 400;
}

.widget-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
}

.widget-header .title {
    color: #000;
    font-weight: 700;
    font-size: 2rem;
}

.widget-header .subtitle {
    color: #adadad;
    font-weight: 600;
    font-size: 1rem;
}

#about-us .layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 350px;
}

.content {
    margin-top: 30px;
    text-align: center;
    flex-wrap: wrap;
}

.content .text {
    color: #242424;
    font-size: 1rem;
}

.btn {
    display: inline-block;
    padding: 10px 55px;
    background-color: #b98b59;
    border-radius: 20px;
    color: #fff;
    font-size: 13px;
    margin-top: 2rem;
}

.layout .media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.media img {
    width: 100%;
    min-width: 150px;
    max-width: 500px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.8);
}

/*Services*/

#services {
    height: auto;
    background-color: #000;
}

#services .title {
    color: #fff;
}

#services .layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin-top: 40px;
}

.card-services {
    color: #fff;
}

#services .card-services h3 {
    font-family: 'Montserrat';
    font-weight: 700;
}

#services .card p {
    font-size: 13px;
    color: #797979;
    font-family: 'Montserrat';
    font-weight: 400;
}

#our-projects {
    min-height: calc(100dvw - 100px);
    margin-bottom: 30px;
}

#our-projects .wrapper {
    width: 100%;
    font-family: 'Montserrat';
    font-weight: 400;
    margin-bottom: 20px;
}

#our-projects .wrapper ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
    background-color: #ededed;
    border-radius: 20px;
    border: 1px solid #cfcfcf;
}

#our-projects .wrapper li {
    padding: 10px;
    font-size: 15px;
    padding: 10px;
    color: #000000;
    border-right: 1px solid #cfcfcf;
}

#our-projects .wrapper li:last-child {
    border: none;
}

#our-projects .wrapper a {
    border-bottom: 3px solid transparent;
    padding-bottom: 14px;
}

#our-projects .wrapper a:hover {
    border-bottom: 3px solid #b98b59;
}

#our-projects .wrapper .active {
    border-bottom: 3px solid #b98b59;
}

#our-projects .layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

#our-projects .layout image:nth-child(n + 7) {
    display: none;
}

#our-projects .layout .image img {
    width: 100%;
    display: block;
    z-index: 1;
}

#our-projects .layout .image {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#our-projects .layout .image h3 {
    position: absolute;
    top: 20%;
    z-index: 3;
    color: #fff;
    display: none;
}

#our-projects .layout .image p {
    position: absolute;
    top: 40%;
    z-index: 3;
    color: white;
    text-align: center;
    display: none;
}

#our-projects .layout .image:hover h3 {
    display: flex;
}

#our-projects .layout .image:hover p {
    display: flex;
}

#our-projects .layout .image::before {
    content: "";
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

#our-projects .layout .image:hover::before {
    opacity: 1;
}

#our-projects .center-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#our-projects .btn {
    margin-top: 0px;
}

/* our team */

#our-team {
    background-image: url(../assets/images/bg-slide2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#our-team::before {
    content: "";
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 1;
}

#our-team .card {
    background-color: #fff;
    color: #000;
    height: 65%;
    width: 100%;
    min-width: 300px;
    max-width: 400px;
}

#our-team .widget-header h2 {
    color: #fff;
}

#our-team .widget-header p {
    color: #aeaeae;
}

#our-team .layout {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#our-team .title {
    font-weight: 600;
    color: #000;
}

#our-team .subtitle {
    font-weight: 400;
    color: #242424;
}

#our-team .redes-sociais {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 6px;
}

.redes-sociais img {
    width: clamp(2.5rem, 2.9vw, 2.9rem);
    padding: 8px 6px;
    border-radius: 50%;
    background-color: #bebebe;
}

#our-team .pointer {
    position: absolute;
    bottom: 30px;
}

.card-team-two {
    display: none;
}

.card-team-three {
    display: none;
}

/*Happy Clients*/

#clients {
    background-color: #ededed;
    height: 90dvh;
}

#clients .slide {
    min-height: auto;
}

#clients .pointer {
    bottom: 30px;
}

.card-clients img {
    margin: 20px;
}

.card-clients .title {
    margin-top: 30px;
}

.card-clients .text {
    color: #7e7e7e;
}

.patrocineos {
    background-color: #fff;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
}

.patrocineos .wrapper {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.patrocgiineos .wrapper img {
    width: 100%;
    min-width: 20px;
    max-width: 100px;
}

.patrocineos img:nth-child(n + 4) {
    display: none;
}

#price {
    background-color: #ededed;
    min-height: 80dvh;
}

#price .layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
    place-items: center;
    align-items: center;
}

#price .card {
    width: 100%;
    min-width: 100px;
    max-width: 400px;
    height: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
}

#price .card:last-child {
    margin-bottom: 40px;
}

#price .price-card .subtitle {
    color: #232323;
    font-weight: 600;
}

#price .text,
.preco-descri {
    color: #7e7e7e;
}

#price .text-bar {
    width: 1rem;
    height: 2px;
    border-radius: 15px;
    background-color: #7e7e7e;
}

#price .btn {
    background-color: #373737;
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
}

#price .active {
    background-color: #b98b59;
}

#premiun {
    background-color: #fff;
}

#premiun .layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2.3fr 150px;
}

#premiun .card-img {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#premiun .card-text {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
    border-bottom: 1px solid #d8d8d8;
    padding-left: 40px;
}

.card-text p,
span {
    text-align: start;
    color: #909090;
    font-weight: 400;
}

.card-text p:last-child {
    margin-bottom: 30px;
}

#premiun .check {
    position: relative;
    right: 40px;
    top: 40px;
}

#premiun .btn {
    font-weight: 600;
    position: absolute;
    bottom: 10px;
}

#some-facts {
    background-color: #000;
    height: auto;
    padding-bottom: 20px;
}

#some-facts .layout {
    display: grid;
    grid-template-columns: 1fr;
}

#some-facts .title-bar {
    width: 20px;
    height: 3px;
    border-radius: 20px;
    background-color: #7e7e7e;
    margin-bottom: 20px;
}

#some-facts h2 {
    color: #fff;
}

#some-facts h1 {
    color: #b98b59;
    font-size: 50px;
}

#some-facts p {
    font-size: 14px;
    color: #7e7e7e;
}

.tell-about-us {
    height: auto;
    padding-bottom: 10px;
    background-color: #fefefe;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
}

.tell-about-us .layout {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tell-about-us .title {
    display: flex;
    justify-content: center;
    color: #afafaf;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-top: 10px;
}

.tell-about-us .redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.tell-about-us .redes-sociais img {
    width: clamp(2rem, 3vw + 1rem, 3rem);
    margin-bottom: 10px;
}

.tell-about-us .twitter {
    background-color: #33c4f0;
}

.tell-about-us .linkedin {
    background-color: #137cb6;
}

.tell-about-us .facebook {
    background-color: #336296;
}

.tell-about-us .googleplus {
    background-color: #e84236;
}

.tell-about-us .trespontos {
    background-color: #b61c28;
}

#contact-us {
    min-height: 80dvh;
    background-color: #f7f7f7;
}

#contact-us .widget-body {
    height: 35rem;
}

#contact-us .layout {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#contact-us form {
    width: 100%;
    min-width: 320px;
    max-width: 600px;
}

#contact-us .input {
    min-width: 100%;
    border: none;
    border-bottom: 1px solid #aeaeae;
    background-color: transparent;
    margin-bottom: 20px;
}

#contact-us label {
    color: #9c9c9c;
    display: flex;
    position: relative;
    top: 30px;
}

#contact-us .subtitle {
    text-align: center;
}

#contact-us .btn {
    background-color: #b98b59;
    font-weight: 600;
    margin-top: 70px;
    border: none;
    margin: 50px auto;
    cursor: pointer;
}

#mapa {
    min-height: 90dvh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/images/mapa.jpg);
}

#mapa .card-mapa {
    background-color: #fff;
    height: 25rem;
    text-align: start;
    align-items: start;
    padding: 20px;
    width: 100%;
    min-width: 320px;
    max-width: 600px;
}

#mapa .layout {
    display: flex;
    justify-content: center;
}

#mapa .card-mapa {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    top: 20px;
}

.card-mapa .area {
    display: flex;
    align-items: center;
}

#mapa p {
    color: #7e7e7e;
    font-weight: 400;
    font-size: 0.956rem;
}

#mapa img {
    width: 40px;
}

.footer-site {
    background-color: #000;
    height: auto;
    position: relative;
    font-family: 'Montserrat';
    font-weight: 400;
}

.footer-site .layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.newsletter {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.footer-site .newsletter-card {
    background-color: #373737;
    padding: 20px;
    border-radius: 10px;
    display: block;
    text-align: center;
    width: 100%;
}

.newsletter-card .btn {
    border: none;
    font-weight: 600;
}

.newsletter-card span {
    border-bottom: 2px solid #aeaeae;
    padding-bottom: 10px;
}

.text-footer {
    color: #7e7e7e;
    font-size: 1rem;
}

.footer-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-main span {
    text-align: center;
}

.footer-main .redes-sociais {
    display: flex;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.footer-main .redes-sociais img {
    background-color: #363636;
    width: 2.2rem;
    cursor: pointer;
}

.footer-main .redes-sociais .active {
    background-color: #b98b57;
}

.footer-main .redes-sociais img:hover {
    background-color: #b98b57;
}

.footer-copy {
    display: block;
    text-align: center;
    color: #fff;
    font-weight: 700;
    margin-top: 30px;
}